<div id="keywords" ng-controller="KeywordsMenuCtrl">
	<h3>Keywords</h3>
	<form class="checkboxes" action="" method="POST">
		<label ng-repeat="(keyword,enabled) in keywords"> <input id="keywordsCheckboxes" name="keywordCheckboxes"
			type="checkbox" ng-model="keywords[keyword]" ng-click="clicked(keyword)" />
			{{keyword}} <br />
		</label>
	</form>
</div>
<br />
<br />
<br />
<div id="topics" ng-controller="TopicsMenuCtrl">
	<h3>Source Topics</h3>
	<form class="checkboxes" action="" method="POST">
		<label ng-repeat="(topic,enabled) in topics"> <input
			type="checkbox" ng-model="topics[topic]" ng-click="clicked(topic)" />
			{{topic}} <br />
		</label>
	</form>
</div>
<ui-view></ui-view> <!-- AngularJS Bugfix; needed to use $stateParams -->