<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocAnalyser Results</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style_minimalistic.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.17.1/angular-translate.js"></script>

    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/components/chronicle/chronicle.js"></script>
</head>
<body class="main" ng-app="myApp" ng-controller="TranslateController">
<div id="menu" class="menu" ng-controller="SideMenuCtrl">
    <div ng-controller="HelpCtrl" ng-mouseover="showHelp()" ng-mouseleave="hideHelp()">
        <select class="language">
            <option ng-click="changeLanguage('de')">{{ 'SELECT_DE' | translate }}</option>
            <option ng-click="changeLanguage('en')" selected>{{ 'SELECT_EN' | translate }}</option>
        </select>
        <br/>
        <h2>DocAnalyser</h2>
        <div class="popover" ng-show="popoverIsVisible">
            <div ng-include="'./app/components/help/help.html'"></div>
        </div>
    </div>
    <br/>
    <div class="dropdown">
        <button class="dropdown-button">{{ 'VIEWS' | translate }}</button>
        <div class="dropdown-content" ng-controller="DropdownMenuCtrl">
            <input type="button" value="{{ 'ANALYZE_VIEW' | translate }}" ng-click="changeView('analyze')"/> <br/>
            <input type="button" value="{{ 'CHRONICLE_VIEW' | translate }}" ng-click="changeView('chronicle')"/>
        </div>
    </div>

    <div ui-view></div>

    <br/>
    <p class="copy">
        <span id="copyright">&copy;</span> by Mario Kubek <br/>
        <a href="http://www.fernuni-hagen.de/kn" target="_blank">{{ 'CHAIR_COM_NETWORK' | translate }}</a> <br/>
        <a ui-sref="dataProtection">{{ 'DATA_PROT' | translate }}</a>
    </p>
</div>
<div resizable ng-style="{width: searchWidth}" id="search" ng-controller="SearchInputCtrl">
    <iframe id="hidden-frame" name="hidden-frame" style="display: none" src="about:blank"></iframe>
    <form class="searchBox" id="searchbox_003813809171160788124:z54qpilp6j4"
          name="customSearchForm" target="hidden-frame" method="post"
          action="search.html?form=1">
        <input value="003813809171160788124:z54qpilp6j4" name="cx" type="hidden"/>
        <textarea ng-model="searchBar.input" id="q" name="q" cols="20" rows="1" ng-change="change()"></textarea>
        <input id="customSearch" name="customSearch" type="button" value="{{ 'SEARCH_BUTTON' | translate }}" ng-click="click()"/>
    </form>
</div>
<div resizable ng-style="{width: searchWidth}" id="resultsError">
    <div ui-view="emptyKeywordsTopics"></div>
    <div ui-view="timeout"></div>
    <div ui-view="exception"></div>
    <div ui-view="dataProtection"></div>

    <div class="results" ng-hide="('dataProtection' | isState) || ('exception' | isState)">
        <gcse:searchresults-only gname="searchOnlyCSE"></gcse:searchresults-only>
    </div>
</div>
<div class="footer" ng-controller="FooterCtrl">
    <div id="cookieWarning" ng-hide="hasAgreed()" ng-cloak><p>{{ 'COOKIE_WARNING' | translate }}
        <a ui-sref="dataProtection">{{ 'LEARN_MORE' | translate }}</a>
        <input class="footerButton" type="button" value="OK" ng-click="agree()"/>
    </p>
    </div>
    <div id="warnings" ng-show="showWarning.value" ng-cloak>
        <p ng-bind="warningDiv.message" ></p>
        <input class="footerButton" type="button" value="OK" ng-click="hideWarning()"/>
    </div>
</div>
</body>
</html>