<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocAnalyser Results</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>


    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/components/chronicle/chronicle.js"></script>
</head>
<body class="main" ng-app="myApp">
<div id="menu" class="menu" ng-controller="SideMenuCtrl">
    <div ng-controller="HelpCtrl" ng-mouseover="showHelp()" ng-mouseleave="hideHelp()"><h2>DocAnalyser</h2>
        <div class="popover" ng-show="popoverIsVisible">
            <div ng-include="'./app/components/help/help.html'"></div>
        </div>
    </div>
    <br/>
    <div class="dropdown" ng-controller="KeywordsMenuCtrl"> <!-- TO DO: Better fix for broadcast -->
        <button class="dropdown-button">Change View</button>
        <div class="dropdown-content" ng-controller="DropdownMenuCtrl">
            <input type="button" value="Analyze" ng-click="changeView('analyze')"/> <br/>
            <input type="button" value="Chronicle" ng-click="changeView('chronicle')"/>
        </div>
    </div>
    <div ui-view></div>

    <br/>
    <p class="copy">
        <span id="copyright">&copy;</span> by Mario Kubek
    </p>
</div>

<div id="search" ng-controller="SearchInputCtrl">
    <iframe id="hidden-frame" name="hidden-frame" style="display: none" src="about:blank"></iframe>
    <form class="searchBox" id="searchbox_003813809171160788124:z54qpilp6j4"
          name="customSearchForm" target="hidden-frame" method="post"
          action="search.html?form=1">
        <input value="003813809171160788124:z54qpilp6j4" name="cx" type="hidden"/>
        <textarea ng-model="searchBar.input" id="q" name="q" cols="20" rows="1" ng-change="change()"></textarea>
        <input id="customSearch" name="customSearch" type="button" value="Search" ng-click="click()"/>
    </form>
</div>
<div id="resultsError" ng-controller="ErrorCtrl" ng-style="{width: search.width}">
    <div ui-view="emptyKeywordsTopics"></div>
    <div ui-view="timeout"></div>
    <div ui-view="exception"></div>


    <div class="results" ng-controller="SearchResultsCtrl" ng-hide="hideResults">
        <gcse:searchresults-only gname="searchOnlyCSE"></gcse:searchresults-only>
    </div>
</div>
</body>
</html>