<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocAnalyer Results</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js"></script>

    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/components/chronicle/chronicle.js"></script>
</head>
<body class="main" ng-app="myApp">
<div class="menu" ng-controller="SideMenuCtrl">
    <h2>DocAnalyser</h2>
    <br/>
    <div class="dropdown" ng-controller="KeywordsMenuCtrl"> <!-- TO DO: Better fix for broadcast -->
        <button class="dropdown-button">Change View</button>
        <div class="dropdown-content" ng-controller="DropdownMenuCtrl">
            <input type="button" value="Analyze" ng-click="changeView('analyze')"/> <br/>
            <input type="button" value="Chronicle" ng-click="changeView('chronicle')"/>
        </div>
    </div>
    <div ui-view></div>

    <br/>
    <p class="copy">
        <span id="copyright">&copy;</span> by Mario Kubek
    </p>
</div>
<div id="search" ng-controller="SearchInputCtrl">
    <iframe id="hidden-frame" name="hidden-frame" style="display: none"
            src="about:blank"></iframe>
    <form id="searchbox_003813809171160788124:z54qpilp6j4"
          name="customSearchForm" target="hidden-frame" method="post"
          action="search.html?form=1">
        <input value="003813809171160788124:z54qpilp6j4" name="cx"
               type="hidden"/> <input ng-model="queryInput" id="q" type="text"
                                      name="q" ng-change="change()"/> <input id="customSearch"
                                                                             name="customSearch" type="button"
                                                                             value="Search"
                                                                             ng-click=""/>
    </form>
</div>
<div ui-view="emptyKeywordsTopics"></div>
<div ui-view="timeout"></div>
<div ui-view="exception"></div>
<div ng-controller="ErrorCtrl">
    <div class="results" ng-controller="SearchResultsCtrl" ng-hide="hideResults">
        <gcse:searchresults-only gname="searchOnlyCSE"></gcse:searchresults-only>
    </div>
</div>
</body>
</html>