<div ng-controller="PastQueriesMenuCtrl">
    <div id="pastQueries">
        <label>Search: <input ng-model="searchText"></label>
        <h3>Past Queries</h3>
        <ul>
            <li ng-repeat="query in queries | filter: searchText">
                {{query.url}}
                <button ng-click="loadQuery(query)">Load</button>
            </li>
        </ul>
    </div>
    <br/>
    <button ng-click="clearHistory()">Clear History</button>
    <br/>
    <input id="chronicleStatus" type="button" value="{{chronicleStatus
       && 'Deactivate History' || 'Activate History'}}"
           ng-click="changeChronicleStatus()"/>
</div>
<ui-view></ui-view> <!-- AngularJS Bugfix; needed to use $stateParams -->
