<div ng-controller="PastQueriesMenuCtrl">
    <div id="pastQueries">
        <h3>Past Queries</h3>
        <select ng-model="dateText">
            <option value="all" selected>all</option>
            <option value="today">today</option>
            <option value="week">week</option>
            <option value="month">month</option>
            <option value="year">year</option>
        </select>
        <br/>
        <label>Search: <input ng-model="searchText"/></label>
        <ul>
            <li ng-repeat="query in queries | filter: searchText | filterByDate: dateText">
                {{query.date}}
                <button ng-click="loadQuery(query)">Load</button>
            </li>
        </ul>
    </div>
    <br/>
    <button ng-click="clearHistory()">Clear History</button>
    <br/>
    <div id="history">
    <input id="chronicleStatus" type="button" value="{{chronicleStatus
       && 'Deactivate History' || 'Activate History'}}"
           ng-click="changeChronicleStatus()"/>
    </div>
</div>
<ui-view></ui-view> <!-- AngularJS Bugfix; needed to use $stateParams -->
