@media screen and (min-width: 900px) {
    body {
        font-size: 16px;
    }
}
@media screen and (min-width: 1600px) {
    body {
        font-size: 18px;
    }
}
@media screen and (max-height: 690px) {
    .main dl.relevant {
        margin-top: 80px;
    }
}
@media screen and (min-height: 700px) {
    .main dl.relevant {
        margin-top: 97px;
    }
}
@media screen and (min-height: 900px) {
    .main dl.relevant {
        margin-top: 124px;
    }
}
@media screen and (min-height: 960px) {
    .main dl.relevant {
        margin-top: 133px;
    }
}


.main {
    background-color: white;
    font-family: "Calibri", sans-serif;
    margin-top: 80px;
}

.main textarea[name="q"] {
    font-family: "Calibri", sans-serif;
    font-size: 100%; /* needed for ie9-11*/
    resize: horizontal;
    overflow: auto;
    min-width: 25%;
    max-width: 90%;
    width: 50%;
    float: left;
    white-space: nowrap;
    height: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main dt {
    /*position: fixed;*/
    font-weight: bold;
    background-color: white;
}

.main dl.cooccs {
    margin-top: 2px;
    position: absolute;
    z-index: 1;
    list-style-type: none;
    padding: 0 0 0.5em 0;
    width: 50%;
    height: 15vh;
    min-height: 70px;
    overflow-y: auto;
    background-color: white;
}

.main dl.relevant {
    /*margin-top: 80px;*/
    position: absolute;
    z-index: 1;
    list-style-type: none;
    padding: 0 0 0.5em 0;
    width: 50%;
    height: 15vh;
    min-height: 70px;
    overflow-y: auto;
    background-color: white;
}

.main dd {
    border: 1px solid black;
    padding: 7px 7px 7px 7px;
    background-color: white;
    margin-top: -1px;
    margin-left: 0;
}

.main dd:hover {
    background-color: #4c8ffa;
    color: white;
}

.main input#customSearch {
    border: none;
    background-color: #4c8ffa;
    border-radius: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    width: 8%;
    min-width: 50px;
    height: 45px;
    font-size: 0.9rem;
    font-weight: bold;
}

.main input#customSearch:hover {
    box-shadow: 0px 0px 2px 2px #4c8ffa;
}

.main .autoCompleteBtn {
    float:left;
    border: none;
    background-color: #4c8ffa;
    border-radius: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    width: 2%;
    min-width: 30px;
    height: 45px;
    font-size: 0.9rem;
    font-weight: bold;
    margin-right: 4px;
}

.main .autoCompleteBtn:hover {
    box-shadow: 0px 0px 2px 2px #4c8ffa;
}

.main #search {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    box-sizing: border-box;
    width: 77%;
    float: right;
    position: relative;
}

.main .results {
    position: relative;
}

.main #error {
    position: relative;
    padding-left: 2%;
}

.main #dataProtection {
    position: relative;
    padding-left: 2%;
}

.menu {
    text-align: center;
    margin-top: 0;
    float: left;
    box-sizing: border-box;
    top: 0px;
    left: 0;
    height: 100%;
    position: fixed;
    min-width: 1%;
    max-width: 40%;
    width: 23%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    overflow-y: hidden;
    background-color: rgba(76, 143, 250, 0.13);
    resize: horizontal;
    z-index: 1;
}

.menu:hover {
    overflow-y: scroll;
}

.menu input[type="button"] {
    padding: 10px 10px 10px 10px;
    border: none;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0px;
    color: black;
}

.menu input[type="button"]:hover {
    background-color: #4c8ffa;
    color: white;
}

.menu h2 {
    color: white;
    /*text-align: center;*/
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-left: 5vh;
}

.menu div#keywords {
    text-align: initial;
    resize: vertical;
    min-height: 110px;
    padding: 5px 30px;
    border: none;
    width: 75%;
    margin: auto;
    height: 250px;
    overflow-y: scroll;
    z-index: 2;
    background-color: rgba(76, 143, 250, 0.13);
}

.menu div#topics {
    text-align: initial;
    resize: vertical;
    min-height: 110px;
    padding: 5px 30px;
    border: none;
    width: 75%;
    margin: auto;
    height: 250px;
    overflow-y: scroll;
    z-index: 2;
    background-color: rgba(76, 143, 250, 0.13);
}

.menu div#pastQueries {
    resize: vertical;
    min-height: 110px;
    padding: 5px 30px;
    border: none;
    width: 75%;
    margin: auto;
    height: 500px;
    overflow-y: scroll;
    z-index: 1;
    background-color: rgba(76, 143, 250, 0.13);
}

.menu div h3 {
    color: black;
    text-align: center;
    margin-top: 3px;

}

.menu .copy {
    bottom: 1px;
    padding-left: 10px;
    z-index: -1;
    color: black;
    text-align: initial;
}

.menu button:not(.queryButton) {
    padding: 10px 10px 10px 10px;
    /*margin-left: 125px;*/
    margin-bottom: 30px;
    background-color: #4c8ffa;
    border: none;
    border-radius: 0px;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
}

.menu button a {
    text-decoration: none;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.menu button:not(.queryButton):hover {
    box-shadow: 0px 0px 2px 2px #4c8ffa;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    top: 37px;
    width: inherit;
}

.dropdown-content p {
    color: black;
    padding: 12px 16px;
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
}

.dropdown:hover .dropdown-content {
    display: block;
    color:white;
}

.dropdown-content .innerDropdownBtn{
    width: 100%;
}

span#copyright {
    font-size: 1.2rem;

}

.checkboxes {
    color: black;
}

.checkboxContent {
    float: left;
}

.checkboxesLabel {
    float: left;
    clear: left;
}

#resultsError {
    box-sizing: border-box;
    float: right;
    position: relative;
    width: 77%;
}

.popover {
    position: absolute;
    display: inline-block;
    z-index: 1;
}

/* tooltip-arrow */
.popover .help::after {
    content: " ";
    position: absolute;
    bottom: 100%; /* arrow at the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

/* tooltip-text */
.help {
    background-color: white;
    display: block;
    text-align: justify;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
}

#history {
    left: 0;
    text-align: initial;
}

.menu div li {
    color: black;
}

.queryButton {
    background-color: transparent;
    color: black;
    text-shadow: none;
    width: 100%;
    border-style: none none inset none;
    border-width: thin;
    border-color: #4c8ffa;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow-wrap: break-word;
    word-wrap: break-word; /* needed for ie9 up to edge */
}

.queryButton:hover {
    background-image: none;
    box-shadow: 0px 0px 2px 2px rgba(76, 143, 250, 0.13);
    background: rgba(76, 143, 250, 0.13) none;
}

.equal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.chronicleButton {
    background-color: #4c8ffa;
    border: none;
    border-radius: 0px;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    width: 45%;
}

.chronicleButton:hover {
    box-shadow: 0px 0px 2px 2px #4c8ffa;
    background: #4c8ffa none;
    color: white;
}

#dateSelect {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#searchText {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

ul#pastQueriesList {
    list-style-type: none;
    padding-left: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4c8ffa;
    color: white;
    text-align: center;
    z-index: 2;
}

.footerButton {
    padding: 10px 10px 10px 10px;
    background-color: #4c8ffa;
    border-style: solid;
    border-radius: 1px;
    border-color: white;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

#gerLanguageButton {
    background: url("../img/de_icon.png");
    background-size: 20px 20px;
    float: right;
    margin-top: 10px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

#enLanguageButton {
    background: url("../img/en_icon.png");
    background-size: 20px 20px;
    float: right;
    margin-top: 10px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}
