<div ng-controller="PastQueriesMenuCtrl">
    <div id="pastQueries">
        <h3>Past Queries</h3>
        <h4>Your Browser does not support local storage.</h4>
        <h4>Therefore, the chronicle view is not available.</h4>
    </div>
    <br/>
    <button class="chronicleButton" ng-click="clearHistory()">Clear History</button>
    <button class="chronicleButton" ng-click="changeChronicleStatus()">{{chronicleStatus
        && 'Deactivate History' || 'Activate History'}}
    </button>
</div>
<ui-view></ui-view> <!-- AngularJS Bugfix; needed to use $stateParams -->
